*{
	scroll-behavior: smooth;
}

body{
	margin:0;
	padding:0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;

}

.image-card-size{
	height: 200px;
	width: 400px;
}

.navbar{
	text-transform: uppercase;
	font-size:14px;
	font-weight: 700;
	letter-spacing: 0.2rem;
	background: rgba(0,0,0,0.6) !important;
	padding:20px 0px;
}

.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color:#0099cc;
}

.bg-fixed{
	background-attachment: fixed;
	background-color: green;
	margin-bottom: 0px;
}

.heading-content{
	position:absolute;
	top: 30%;
	width:100%;
	max-width:100%;
}

.inner{
	overflow: hidden;
}

.inner img{
	transition: all 1.5s ease;
}

.inner:hover img{
	transform: scale(1.5);
}

.heading-content h5{
	font-size: 4em;
	font-weight: 300;
	color: white;
	font-family: monospace;
	padding-left: 250px;
}

.heading-content h1{
	font-size: 5em;
	font-weight: 300;
	color: white;
	font-family: 'Varela Round', sans-serif;
}

.heading-content h3{
	text-transform: uppercase;
	font-weight: lighter;
	color: white;
	word-spacing: 5px;
	letter-spacing: 2px;
	font-family: 'Varela Round', sans-serif;
	padding-left: 100px;
}

.footer{
	background-color:#2e2d39;
	padding:10px;
	color: white;
}

.post-heading h3{
	padding-top: 10PX;
}

.btn-footer{
	margin-bottom: 50px;
}

.btn-portfolio{
	margin-bottom: 0px;
}

.animate-element{
	animation: jello;
	animation-duration: 10s;
}

.header-animate-element{
	animation: bounce;
	animation-duration: 3s;
}

.offset:before{
	display: block;
	content: "";
	height: 6rem;
}

.container-portfolio{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px
	padding-bottom: 100px;
}



/*resposiveness*/

@media screen and (max-width: 767px){
/*-----------tablets-----------*/
.navbar{
	letter-spacing: 0.1rem;
	padding:10px 0px;
}
.heading-content{
	top: 20%;
}


.heading-content h5{
	font-size: 1em;
}

.heading-content h1{
	font-size: 3em;
}

.heading-content h3{
	font-size: 0.9em;
}
}



@media screen and (max-width: 479px){
/*-------Smartphones---------*/
.navbar{
	letter-spacing: 0.2rem;
	padding:7px 0px;
}

.heading-content h5{
	font-size: 2em;
}

.heading-content h1{
	font-size: 7em;
}

.heading-content h3{
	font-size: 0.7em;
}
}



